body{
    margin: 0;
    padding: 0;
    background-color: #222;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

header{
    width: 100%;
    min-height: 200px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    background-color: #256497;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    transition: background 400ms linear 0s;
}

h1{
    font-weight: 600;
    box-sizing: border-box;
    margin-top: 0;
}

header span{
    display: inline-block;
    font-size: 5rem;
    margin: 20px 0;
}

div.navbar{
    height: 35px;
    background-color: #fff;
    color: #256497;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
}

.space{
    display: inline-block;
    min-width: 35%;
}

button{
    background: transparent;
    text-transform: uppercase;
    border: none;
    height: 35px;
    color: #256497;
    line-height: 35px;
    font-size: 1.1rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    padding: 0 15px;
    margin: 0 -3px;
}

button:hover, .active{
    background-color: #256497;
    color: #fff;
    transition: background 200ms linear 0s;
}

.container{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

div.square{
    display: inline-block;
    margin: 1.66%;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    background-color: aquamarine;
    visibility: visible;
    transition: background 400ms ease-out 0s;
}

